/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

* {
  box-sizing: border-box;
}

header {
  background-color: #007ACC;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

.container {
  max-width: 800px;
  margin:  10px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.uoc-footer {
  background-color: #333;
  color: #fff;
  margin: 30px;
  text-align: center;
  padding: 10px;
}

/*------------------------------------*\
  #Desktop
\*------------------------------------*/


@media screen and (min-width: 1024px) {

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 2rem;
    text-align: justify;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: $uoc-bg;
    color: $uoc-corporate;
  }
}



/*------------------------------------*\
  #Tablet
\*------------------------------------*/

@media screen and (min-width:481px) and (max-width: 1023px) {

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    text-align: justify;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: $uoc-bg;
    color: $uoc-corporate;
  }

}


/*------------------------------------*\
  #Mobile
\*------------------------------------*/

@media screen and (max-width: 480px) {

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: $font-family-sans-serif;
    background-color: $uoc-bg;
    color: $uoc-corporate;
    padding: 1rem; 
    font-size: 14px; 
    line-height: 22px;
  }

  h2, h3, h4, h5, h6 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}



/*------------------------------------*\
  #IMATGES PERSONATGES
\*------------------------------------*/

.container img {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

/*------------------------------------*\
  #Slider
\*------------------------------------*/

.slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 500%;
  animation: canvi 50s infinite;
}

.slider li {
  width: 19%;
  list-style: none;
  margin-right: 7%;
}

.slider img {
  width: 100%;
  margin-right: 20px;
}

#img_1, #img_2, #img_3, #img_4, #img_5 {
  object-fit: cover;
}

@keyframes canvi {
  0%, 20% {
      margin-left: 0;
  }
  24%, 40% {
      margin-left: -101%;
  }
  44%, 60% {
      margin-left: -202%;
  }
  64%, 80% {
      margin-left: -303%;
  }
  84%, 100% {
      margin-left: -404%;
  }
}

/*------------------------------------*\
  # Canvi color Background
\*------------------------------------*/


.character-background-luffy {
  background-color: $luffy-color;
}
.character-background-zoro {
  background-color: $zoro-color;
}
.character-background-nami {
  background-color: $nami-color;
}
.character-background-sanji {
  background-color: $sanji-color;
}
.character-background-ussop {
  background-color: $ussop-color;
}
.character-background-chopper {
  background-color: $chopper-color;
}
.character-background-robin {
  background-color: $robin-color;
}
.character-background-franky {
  background-color: $franky-color;
}
.character-background-brook {
  background-color: $brook-color;
}
.character-background-jinbei {
  background-color: $jinbei-color;
}
.character-background-default {
  background-color: $default-color;
}