/*------------------------------------*\
  #GENERAL
\*------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

/*------------------------------------*\
  #IMATGES PERSONATGES
\*------------------------------------*/

.container img {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

/*------------------------------------*\
  #Slider
\*------------------------------------*/

.slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 500%;
  animation: canvi 50s infinite;
}

.slider li {
  width: 19%;
  list-style: none;
  margin-right: 7%;
}

.slider img {
  width: 100%;
  margin-right: 20px;
}

#img_1, #img_2, #img_3, #img_4, #img_5 {
  object-fit: cover;
}

@keyframes canvi {
  0%, 20% {
      margin-left: 0;
  }
  24%, 40% {
      margin-left: -101%;
  }
  44%, 60% {
      margin-left: -202%;
  }
  64%, 80% {
      margin-left: -303%;
  }
  84%, 100% {
      margin-left: -404%;
  }
}