/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import variables
 */

@import "variables";

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@import "layouts/home";

/**
 * Do NOT include anything else in this file!
 */


 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007ACC;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 18px;
    line-height: 1.6;
}